<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/x-icon" href="static/Assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
<link href="static/CSS/styles.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<meta charset="ISO-8859-1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">BlogApp</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a th:href="@{/admin/users/}" class="nav-link">Users</a></li>
					<li class="nav-item"><a th:href="@{/myposts/}" class="nav-link">My posts</a></li>
					<li class="nav-item"><a th:href="@{/admin/category/}" class="nav-link">Categories</a></li>
					<li class="nav-item"> <a th:href="@{/mycomments/}" class="nav-link">My
							comments</a></li>
					<li class="nav-item"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
					<li class="nav-item"><a th:href="@{/appCorner}" class="nav-link">App corner</a></li>
				</ul>
			</div>
		</div>
	</nav>
<ul class="list-group">
	<li class="list-group-item">
	<div style="display:flex; justify-content: space-between;">
  	<p style="font-weight: bold;">First name</p>
  	<p style="font-weight: bold;">Last name</a>
  	<p style="font-weight: bold;">Username</a>
  	<p style="font-weight: bold;">Action</a>
  </div>
	</li>
  <li th:each="user:${users}" class="list-group-item">
  <div style="display:flex; justify-content: space-between;">
  <p th:text="${user.firstName}"></p>
  <p th:text="${user.lastName}"></p>
  <p th:text="${user.username}"></p>
  <a th:unless="${user.block}" th:href="@{/admin/user/block/{id}(id=${user.id})}" ><iconify-icon icon="akar-icons:block" style="color: red;" width="40" height="40"></iconify-icon></a>
  <a th:if="${user.block}" th:href="@{/admin/user/unblock/{id}(id=${user.id})}"><iconify-icon icon="gg:unblock" style="color: green;" width="40" height="40"></iconify-icon></a>
  </div>
  </li>
</ul>
</body>
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</html>