<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1,
			shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Blog Home - Start Bootstrap Template</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="static/Assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="static/CSS/styles.css" rel="stylesheet" />

	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#!">BlogApp</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a th:if="${currentUser.isAdmin()}" th:href="@{/admin/users/}" class="nav-link">Users</a></li>
					<li class="nav-item"><a th:href="@{/myposts/}" class="nav-link">My posts</a></li>
					<li class="nav-item"><a th:if="${currentUser.isAdmin()}" th:href="@{/admin/category/}" class="nav-link">Categories</a></li>
					<li class="nav-item"> <a th:href="@{/mycomments/}" class="nav-link">My
							comments</a></li>
					<li class="nav-item"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
					<li class="nav-item"><a th:href="@{/appCorner}" class="nav-link">App corner</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create post
	</button>
	<p th:text="${currentUser.getUsername}"></p>
	<a th:href="@{/home(size=${posts.size}, page=${pageNumber}, sort=1,
			filter=0)}" th:text="reset"></a>
	<div class="container">
		<div class="row">
		<div class="col-8">
		<h1 th:text="'Welcome '+${currentUser.getUsername}">Welcome</h1>
		<h1>What's up?</h1>
		</div>
			<div class="col-4">
				<div class="card mb-4">
					<div class="card-header">Categories</div>
					<div class="card-body">
						<div class="row">
									<a th:each="category:${categories}"
											th:href="@{/home(size=${posts.size}, page=${pageNumber}, sort=1, filter=${category.id})}"
											th:text="${category.name}"></a>
											<br>
						</div>
					</div>
				</div>
				<!-- Side widget-->
				<div class="card mb-4">
					<div class="card-header">Sorting</div>
					<a th:href="@{/home(size=${posts.size}, page=${pageNumber}, sort=1)}" th:text="Newest"></a>
					<a th:href="@{/home(size=${posts.size}, page=${pageNumber}, sort=2)}" th:text="Oldest"></a>
				</div>
			</div>
		</div>
		<div class="col" th:each="post:${posts}">
			<div class="card mb-4">
				<div th:if="${post.PhotoPath != 'none'}">
					<a th:if="post.PhotoPath != 'none'" href="#!"><img class="card-img-top"
							th:src="@{${post.photoPath}}" /></a>
				</div>
				<div class="card-body">
					<p class="small text-muted" th:text="${post.createDate}"></p>
					<p th:text="${post.likes.size()}+' likes'"></p>
					<a th:unless="${post.isLiked(currentUser)}" th:href="@{/post/like/{id}(id=${post.id})}">Like</a><br>
					<a th:if="${post.isLiked(currentUser)}" th:href="@{/post/dislike/{id}(id=${post.id})}">Dislike</a><br>
					<a style="text-decoration: none; color: black;"  th:href="@{/userposts/{userId}(userId=${post.user.id})}" th:text="'Creator:'+${post.user.username}"></a><br>
					<a th:if="${post.isOwnedBy(currentUser)}" th:href="@{/post/delete/{postId}(postId=${post.id})}">Delete</a>
					<a th:if="${post.isCreatedBy(currentUser)}" th:href="@{/post/update/{postId}(postId=${post.id})}">Update</a>
					<a th:href="@{/post/share/{postId}(postId=${post.id})}">Share</a>
					<a style="text-decoration: none; color: black; " th:href="@{/post/{id}(id=${post.id})}"><h2 class="card-title"  th:text="${post.title}"></h2></a>
					<p th:text="'Category: '+${post.category.name}"></p>
					<p class="card-text" th:text="${post.body}"></p>
					<div class="accordion" th:id=${post.id}>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									th:attr="data-bs-target='#collapse-'+${post.id}" aria-expanded="true"
									aria-controls="collapseOne">
									Comments</button>
							</h2>
							<div th:id="'collapse-'+${post.id}" class="accordion-collapse collapse"
								aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<form action="#" th:action="@{/comment/save/{postId}(postId=${post.id})}"
									th:object="${comment}" method="post">
									<label for="name">Insert comment:</label>
									<textarea type="text" th:field="*{body}" id="name" placeholder="Name" th:required="required"/>
									<p th:text="${postId}"></p>
									<input type="submit" value="Comment">
								</form>
								<table style="width: 80%" border="1"
									class="table table-striped table-responsive-md">
									<tbody>
										<tr th:each="comment:${post.comments}">
											<div class="accordion-body">
												<div>
													<td>
														<p th:text="${comment.body}"></p>
													</td>
													<td>
														<p th:text="'Creator: '+${comment.author}"></p>
													</td>
													<td>
														<p th:text="${comment.createDate}"></p>
													</td>
													<td>
														<a th:if="${comment.isOwnedBy(currentUser)}"  th:href="@{/comment/delete/{commentId}/{postId}(commentId=${comment.id},postId=${post.id})}"
															class="btn btn-primary btn-sm mb-3">Delete
															comment</a>
													</td>
													<td>
														<a th:if="${comment.isCreatedBy(currentUser)}"  th:href="@{/comment/update/{commentId}(commentId=${comment.id})}"
															class="btn btn-primary btn-sm mb-3">Update
															comment</a>
	
													</td>
												</div>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
				</td>
			</div>
		</div>
	</div>

	</div>
	</div>
	</div>
	</div>

	<nav aria-label="Pagination">
		<hr class="my-0" />
		<ul class="pagination justify-content-center my-4">
			<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a class="page-link"
					th:href="@{/home(size=${posts.size}, page=${pageNumber})}" th:text=${pageNumber}></a></li>
		</ul>
	</nav>

	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="#" th:action="@{/post/save}" th:object="${post}" method="post"
						enctype="multipart/form-data">
						<div class="input-group mb-3">
							<input type="text" th:field="*{title}" id="title" placeholder="Title" th:required="required">
						</div>
						<div class="form-floating">
							<textarea type="text" th:field="*{body}" rows="4" cols="50" class="form-control"
								placeholder="Insert body here" id="floatingTextarea" th:required="required" />
							<label for="floatingTextarea">Body</label>
						</div>
						<select th:field="*{category}" class="form-select" aria-label="Default
							select example">
							<option th:each="category: ${categories}" th:value="${category.id}"
								th:text="${category.name}" th:required="required"/>
						</select>
						<div class="mb-3">
							<input type="file" name="image" accept="image/png, image/jpeg" class="form-control" />
						</div>
						<div class="col-12">
							<input type="submit" value="Create" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>