<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
  <tbody>
  <tr th:each="comment:${comments}">
        <td th:text="${comment.body}"></td>
        <td th:text="${comment.post.id}"></td>
        <td><a th:href="@{/comment/delete/{commentId}/{postId}(commentId=${comment.id},postId=${comment.post.id})}"
								class="btn btn-primary btn-sm mb-3">Delete comment</a><td>
  </tr>
  </tbody>
</table>
</body>
</html>